
mat-card {
  max-width: 400px;
  margin: 4rem auto;
  padding: 2rem;
  text-align: center;
  align-content: center;
  align-items: center;


  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;

}

mat-form-field {
  width: 100%;
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1em;
}
